#profile {
    background-color: #5b0202;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#your-name {
    margin-top: 0;
}

#profile-tile {
    height: 150px;
}

footer i { 
    display: flex;
    justify-content: space-around;
}