.profile {
  background-color: #5b0202;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#your-name {
  margin-top: 0;
  font-size: 60px;
}

#profile-tile {
  height: 250px;
}

@media only screen and (min-width: 320px) and (max-width: 420px) {
  .profile {
    height: 450px;
  }

  #profile-tile {
    height: 9em;
  }

  #your-name {
    margin-top: 0;
    font-size: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .profile {
    margin: 5em 5% 0 5%;
    position: sticky;
    top: 10em;
  }
}